.MainBoard_div1 {
  max-height: none;
  align-self: start;
  border: 1px solid black;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 100%;
  height: 100%;
}
.MainBoard_div2 {
  display: block;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  overflow: scroll;
  width: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
  object-fit: fill;
  max-height: 100%;
}
.MainBoard_img1 {
  display: inline-block;
  height: auto;
  align-content: center;
  object-fit: fill;
  min-width: 100vw;
  min-height: 100vh;
  position: static;
}
.MainBoard_div3 {
  display: inline;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  min-width: 100vw;
  background-color: rgb(0, 0, 0);
  top: 0px;
  left: 0px;
  right: 100%;
  background-repeat: repeat;
  background-image: linear-gradient(180deg, #121a2a 0%, #000000 100%);
  background-position: 0% 0%;
  background-size: auto auto;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  color: #ffffff;
}
.MainBoard_div4 {
  overflow: hidden;
  height: 100vh;
  object-fit: none;
  display: block;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/054/219/289/large/kieran-pavy-final-raised-1080.jpg?1664029054");
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  align-content: center;
}
.MainBoard_img2 {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: none;
  overflow: hidden;
  display: block;
  align-content: center;
  flex-basis: 100vw;
}
.MainBoard_div5 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.MainBoard_img3 {
  border-radius: 100%;
  border: 10px solid black;
  max-height: 30vh;
  flex-shrink: 1;
}
.MainBoard_p1 {
  color: #ffffff;
  text-align: center;
  align-content: center;
  width: 95%;
  font-size: 2vh;
  flex-grow: 1;
}
.MainBoard_div6 {
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 20px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 60px;
  max-width: 70vh;
  max-height: 60vh;
}
.MainBoard_header1 {
  color: #ffffff;
  position: static;
  font-size: 6vh;
  align-content: center;
  text-align: center;
}
.Scrollpoint {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  flex-direction: column;
  align-items: start;
  align-content: start;
  justify-content: start;
}
.MainBoard_div7 {
  position: fixed;
  top: 0px;
  bottom: 100%;
  right: 100%;
  left: 0px;
  background-repeat: no-repeat;
  background-image: none;
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: #ff0000;
}
.MainBoard_div8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-grow: 1;
  max-width: 166vh;
  row-gap: 10px;
  column-gap: 10px;
  flex-direction: row;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-top: 0px;
}
.MainBoard_iframe1 {
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  aspect-ratio: 1.6666;
}
.MainBoard_div9 {
  padding: 15px 20px;
  align-self: start;
  height: 6vh;
  flex-grow: 0;
}
.MainBoard_p2 {
  color: #ffffff;
  font-size: 2vh;
  flex-shrink: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  align-content: start;
  flex-grow: 0;
}
.MainBoard_header2 {
  color: #ffffff;
  font-size: 4vh;
  margin: 0px;
}
.MainBoard_div10 {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  min-width: 35vw;
}
.MainBoard_div11 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}
.MainBoard_button1 {
  height: 100%;
  aspect-ratio: 1;
  border: 0px solid black;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-image: url("https://static.wixstatic.com/media/d9657b20f1b9473f90815b9da211bb2a.jpg/v1/fit/w_924,h_520/d9657b20f1b9473f90815b9da211bb2a.jpg");
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}
.MainBoard_button2 {
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  opacity: 1;
  border-radius: 0px;
  border: 0px solid #00000000;
}
.MainBoard_img4 {
  height: 10vh;
}
.MainBoard_div12 {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-self: start;
}
.MainBoard_div13 {
  display: inline-block;
}
.MainBoard_p3 {
  font-size: 2vh;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 10px;
}
.MainBoard_div14 {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.MainBoard_div15 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 40vh;
  aspect-ratio: 3/4;
}
.MainBoard_img5 {
  object-fit: scale-down;
  max-width: 100%;
}
.MainBoard_p4 {
  color: #ffffff;
  padding-left: 20px;
  font-size: 2vh;
}
.MainBoard_p5 {
  font-size: 1.5vh;
}

.MainBoard_grid {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  grid-template-areas: none;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  overflow: auto;
}
.MainBoard_div16 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.MainBoard_button3 {
  border-radius: 100%;
  aspect-ratio: 1;
  height: 80%;
  border: 4px solid #ffffff;
  background-color: #5389ff;
}
.MainBoard_div17 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
}
.MainBoard_div18 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MainBoard_div19 {
  flex-grow: 1;
  height: 100v;
}
