.dark {
  --md-sys-color-primary: rgb(212 187 255);
  --md-sys-color-surface-tint: rgb(212 187 255);
  --md-sys-color-on-primary: rgb(60 29 110);
  --md-sys-color-primary-container: rgb(67 37 117);
  --md-sys-color-on-primary-container: rgb(213 188 255);
  --md-sys-color-secondary: rgb(207 192 231);
  --md-sys-color-on-secondary: rgb(54 43 74);
  --md-sys-color-secondary-container: rgb(70 58 90);
  --md-sys-color-on-secondary-container: rgb(222 206 246);
  --md-sys-color-tertiary: rgb(187 195 255);
  --md-sys-color-on-tertiary: rgb(19 37 128);
  --md-sys-color-tertiary-container: rgb(44 59 148);
  --md-sys-color-on-tertiary-container: rgb(215 218 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(21 18 24);
  --md-sys-color-on-background: rgb(231 224 232);
  --md-sys-color-surface: rgb(21 18 24);
  --md-sys-color-on-surface: rgb(231 224 232);
  --md-sys-color-surface-variant: rgb(74 69 80);
  --md-sys-color-on-surface-variant: rgb(203 196 210);
  --md-sys-color-outline: rgb(149 142 155);
  --md-sys-color-outline-variant: rgb(74 69 80);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 224 232);
  --md-sys-color-inverse-on-surface: rgb(50 47 53);
  --md-sys-color-inverse-primary: rgb(108 79 160);
  --md-sys-color-primary-fixed: rgb(235 220 255);
  --md-sys-color-on-primary-fixed: rgb(38 0 88);
  --md-sys-color-primary-fixed-dim: rgb(212 187 255);
  --md-sys-color-on-primary-fixed-variant: rgb(83 54 134);
  --md-sys-color-secondary-fixed: rgb(235 220 255);
  --md-sys-color-on-secondary-fixed: rgb(32 22 52);
  --md-sys-color-secondary-fixed-dim: rgb(207 192 231);
  --md-sys-color-on-secondary-fixed-variant: rgb(77 65 97);
  --md-sys-color-tertiary-fixed: rgb(222 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 15 93);
  --md-sys-color-tertiary-fixed-dim: rgb(187 195 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(47 62 151);
  --md-sys-color-surface-dim: rgb(21 18 24);
  --md-sys-color-surface-bright: rgb(59 56 62);
  --md-sys-color-surface-container-lowest: rgb(15 13 18);
  --md-sys-color-surface-container-low: rgb(29 27 32);
  --md-sys-color-surface-container: rgb(33 31 36);
  --md-sys-color-surface-container-high: rgb(44 41 47);
  --md-sys-color-surface-container-highest: rgb(55 52 58);
}
