.light {
  --md-sys-color-primary: rgb(57 26 107);
  --md-sys-color-surface-tint: rgb(108 79 160);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(92 63 144);
  --md-sys-color-on-primary-container: rgb(245 234 255);
  --md-sys-color-secondary: rgb(101 89 122);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(234 219 255);
  --md-sys-color-on-secondary-container: rgb(77 66 98);
  --md-sys-color-tertiary: rgb(32 47 137);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(70 85 174);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(254 247 255);
  --md-sys-color-on-background: rgb(29 27 32);
  --md-sys-color-surface: rgb(254 247 255);
  --md-sys-color-on-surface: rgb(29 27 32);
  --md-sys-color-surface-variant: rgb(232 223 238);
  --md-sys-color-on-surface-variant: rgb(74 69 80);
  --md-sys-color-outline: rgb(123 117 129);
  --md-sys-color-outline-variant: rgb(203 196 210);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 47 53);
  --md-sys-color-inverse-on-surface: rgb(245 239 246);
  --md-sys-color-inverse-primary: rgb(212 187 255);
  --md-sys-color-primary-fixed: rgb(235 220 255);
  --md-sys-color-on-primary-fixed: rgb(38 0 88);
  --md-sys-color-primary-fixed-dim: rgb(212 187 255);
  --md-sys-color-on-primary-fixed-variant: rgb(83 54 134);
  --md-sys-color-secondary-fixed: rgb(235 220 255);
  --md-sys-color-on-secondary-fixed: rgb(32 22 52);
  --md-sys-color-secondary-fixed-dim: rgb(207 192 231);
  --md-sys-color-on-secondary-fixed-variant: rgb(77 65 97);
  --md-sys-color-tertiary-fixed: rgb(222 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 15 93);
  --md-sys-color-tertiary-fixed-dim: rgb(187 195 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(47 62 151);
  --md-sys-color-surface-dim: rgb(222 216 224);
  --md-sys-color-surface-bright: rgb(254 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 241 249);
  --md-sys-color-surface-container: rgb(242 236 244);
  --md-sys-color-surface-container-high: rgb(237 230 238);
  --md-sys-color-surface-container-highest: rgb(231 224 232);
}
