:root{
    --panel-color: #000d1dbe;
    --panel-shadow: #6f7dff28;
    --panel-shadow-active: #6f7dff65;

}

html {
    overflow-x: hidden;
    font-family:'Courier New', Courier, monospace;
    background-color: #000000;
    z-index: -2;
}

a:link{
    color: #4eafff;
}

a:visited{
    color: #d07dff;
}

.itch-button
{
    background-color: #00000000;
    border-width: 0;
    height: 2em;
}

.button:hover{
    cursor: pointer;
    scale: 1.02;
}

.scrollpoint {
    width: 100%;
    min-height: 100dvh;
    scroll-snap-align: start start;
    justify-content: center;
    align-self: center;
}

.background-image {
    background-image: url('https://cdna.artstation.com/p/assets/images/images/039/994/996/large/kieran-pavy-square-smol.jpg?1627544069');
    z-index: -1;
    position: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.panel {
    box-shadow: inset 0 0 20px var(--panel-shadow);
    background-color: var(--panel-color);
    border-radius: 14px;
    backdrop-filter: blur(10px);
    padding-right: 20px;
    padding-left: 20px;
}

body {

    color: white;
    display: flex;
    min-height: 100vh;
    max-height: fit-content;
    padding: 0;
    margin: 0;
    justify-content: start;
    font-size: 18px;
    flex-direction: column;
    background-color: #00000000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.nav-link {

    color: #ffffff;
    background-color: #172d46;
    height: 100%;
}

.nav-link :hover {

    background-color: #172d46;
    color: #000000;
}

.nav-tabs {
    margin-left: auto;
    margin-right: 8px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 20%;
    height: 100%;
    align-items: stretch;
    justify-content: space-around;
    padding-top: 15px;
}

.project-section {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #172d46;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #00000050;
    width: 100%;
}

.screenshot-list {
    align-content: start;
    justify-content: start;
    height: 480px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    display: flex;
}

.screenshot {
    display: inline-block;
    max-height: 100%;
    height: 100%;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 8px;
}

.nav-bar {

    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    min-height: 45px;
    background-color: #165181;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-self: center;
    justify-content: left;
    box-shadow: inset 0px -12px 12px #ffffff10;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 50%;
    max-width: 700px;
    height: 100%;
    min-height: 40vh;
    min-width: min(350px, 100dvw);
    margin: 10px;
    padding: 10px;
    max-height: 90%;
}

.cavity {
    background-color: #165181;
    box-shadow: inset 4px 4px 16px 4px #00000050;
    border-radius: 18px;
    padding: 8px;
    margin-left: 20px;
    margin-right: 14px;
    margin-top: 14px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
    margin: auto;
    max-width: 100vw;
}

.project-card {
    box-shadow: inset 0 0 20px var(--panel-shadow);

    text-decoration: none;
    max-width: 90vw;
    width: 100%;
    height: 600px;
    padding: 8px;
    margin: 8px;
    border-width: 0px;
    color: #ffffff;
    justify-content: start;
    display: flex;
    flex-direction: column;
    font-size: 0.75em;
    background-color: var(--panel-color);
    border-radius: 14px;
    backdrop-filter: blur(10px);
}

.project-card:link{
    color: white;
}

.project-card:visited{
    color: white;
}

@media (min-width: 500px) {
    .project-card {
        max-width: 450px;
    }
}

.project-card:active {
    box-shadow: inset 0 0 20px var(--panel-shadow-active);
    translate: 2px 2px;
    scale: 100%;

}

.project-card:hover {
    box-shadow: inset 0 0 20px var(--panel-shadow-active);
    scale: 1.01;
}

.project-card:hover:active {
    box-shadow: inset 0 0 20px var(--panel-shadow);
    translate: 2px 2px;
}

.card-embed {
    width: 100%;
    aspect-ratio: 1.777777777;
    flex-shrink: 1;
    border-radius: 8px;
}

.card-title {
    padding-top: 5px;

    color: #ffffff;
    text-align: center;
    font-size: 3em;
    line-height: 45px;
}

.card-description {
    font-size: 1.3em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: start;
}

.circle-button {
    border: 4px solid #4F7CAC;
    font-size: 3vh;
    line-height: 100%;
    text-align: center;
    min-height: 6vh;
    max-height: 100%;
    aspect-ratio: 1;
    background-color: #172d46;
    border-radius: 100%;
    background-position: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    flex-shrink: 0;
    text-decoration: none;
    color: #ffffff;
}

.fa{
    color: white;
    text-decoration: none;
}

.fa:visited{
    color: white;
}

.fa:hover {
    scale: 103%;
}

.bio-container {
    display: flex;
    position: absolute;
    width: 80%;
    align-self: center;
    align-content: start;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}